<%- include("header") -%>

<h1 id="heading" class="box">About!</h1>

<p class="box">It help to manage a list of tasks you need to complete, or things that you want to do. </p>

<%- include("footer") -%>
